.form-containner {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.btn-containner {
    display: flex;
    justify-content: center;
}
.img {
    width: 150px;
    height: 100px;
}
.product-containner {
    margin-top: 50px;
}
