.form-containner {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.btn-containner {
    display: flex;
    justify-content: center;
}
.img {
    width: 100px;
    height: 50px;
    margin: auto;
}
.product-containner {
    margin-top: 50px;
}
.center-text {
    text-align: center;
    margin: auto;
}
.center {
    display: flex;
    justify-content: center;
}
